@use "../abstract" as *;

.elementor-button {
    background-color: $color-blue;
    color: $color-white;

    &:hover,
    &:active {
        background-color: $color-orange;
        color: $color-white;
    }
}

.button__invert {
    .elementor-button {
        background-color: $color-orange;
        color: $color-white;
        &:hover,
        &:active {
            background-color: $color-blue;
            color: $color-white;
        }
    }
}

.button__outline {
    .elementor-button {
        border: 2px solid $color-orange;
        color: $color-orange;
        background-color: transparent;
        &:hover,
        &:active {
            border: 2px solid $color-blue;
        }
    }
}

.btn-dropdown {
    border-radius: 0;
    border: 3px solid $color-white;
    color: $color-blue;
    background-color: $color-orange;
    padding-left: 25px;
    padding-right: 25px;
    &:hover,
    &:active {
        background-color: $color-orange;
        border: 3px solid $color-white;
    }
}
// button
/* .btn-secondary {
    &,
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: #fff;
        background-color: $darkblue;
        border-color: $darkblue;
    }
}

.btn-light {
    &,
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: $darkblue;
        background-color: $orange;
        border-color: $orange;
    }
}
.btn-outline-light {
    color: $orange;
    border-color: $orange;
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        background-color: $orange;
        border-color: $orange;
        color: $darkblue;
    }
}

.btn-lg {
    min-width: 320px;
    padding: 1rem;
} */
