@use "~@/scss/variable.scss" as *;

// button
.btn-secondary {
    &,
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: #fff;
        background-color: $darkblue;
        border-color: $darkblue;
    }
}

.btn-light {
    &,
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        color: $darkblue;
        background-color: $orange;
        border-color: $orange;
    }
}
.btn-outline-light {
    color: $orange;
    border-color: $orange;
    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
        background-color: $orange;
        border-color: $orange;
        color: $darkblue;
    }
}

.btn-lg {
    min-width: 320px;
    padding: 1rem;
}