@use "~bootstrap/scss/bootstrap-grid" as *;

.footer {
    color: #fff;
    &__separator {
        margin: 1rem auto;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        @include media-breakpoint-up(lg) {
            margin-top: 3rem;
        }
    }
    .menu {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .menu-item {
        a {
            color: $orange;
            font-size: 0.925rem;
            font-weight: 500;
            &:hover,
            &:active {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
