@use "~@/scss/variable.scss" as mckl;
@use "~bootstrap/scss/bootstrap-grid" as *;

.site-header {
    background-color: mckl.$darkblue;
    color: #fff;

    .admin-bar &.fixed-top {
        margin-top: 46px !important;

        @media only screen and (min-width: 783px) {
            margin-top: 32px !important;
        }
    }

    &.has-logo.has-title-and-tagline {
        .site-branding {
            display: none;
        }
        .logo-wrap {
            min-width: 140px;

            .site-logo {
                background-color: #fff;
                box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
                transition: all 0.3s ease;
                width: 48px;

                @include media-breakpoint-up(md) {
                    width: 140px;
                    position: absolute;
                    top: 0;
                    padding: 1rem;
                    z-index: 100;
                }
            }
        }
    }
    .navbar {
        flex-wrap: nowrap;
        justify-content: flex-end;
        padding-right: 0;

        &--max-width {
            max-width: 1600px;
            margin: 0 auto;
        }
        .menu-wrapper {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0;
        }
        .menu-item {
            padding-left: 1rem;
            padding-right: 1rem;

            a {
                color: #fff;
                font-size: 0.925rem;
                font-weight: bold;
                text-transform: uppercase;
                &:hover,
                &:active {
                    color: mckl.$orange;
                    text-decoration: none;
                }
            }
        }

        .primary-navigation {
            width: 100%;

            .primary-menu-container {
                margin: auto;
                margin-left: 0;
            }
            .support-menu-container {
                margin: auto;
                margin-right: 0;
            }
        }
    }
}
