@use "./variable.scss" as *;

.bg-darkblue {
    background-color: $darkblue;
    color: #fff;
}
.bg-blue {
    background-color: $blue;
    color: #fff;
}
.bg-blend {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &--1:before {
        opacity: 0.15;
        background: url("~@/assets/bg-blend-1.jpg") no-repeat 50% 50% / cover;
    }
    &--2:before {
        opacity: 0.15;
        background: url("~@/assets/bg-blend-2.jpg") no-repeat 50% 50% / cover;
    }
    &--3:before {
        opacity: 0.15;
        background: url("~@/assets/bg-blend-3.jpg") no-repeat -25% 50% / 120%;
    }
    &--blue:before {
        opacity: 0.15;
        background-color: $darkblue;
    }
}

.bg-svg-1 {
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1922.5' height='332.516' viewBox='0 0 1922.5 332.516'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='1' y1='-0.602' x2='0.305' y2='1.35' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2398a2e5' stop-opacity='0.22'/%3E%3Cstop offset='1' stop-color='%230052a0' stop-opacity='0.078'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M1921.215,332.516H0V0C.41.136,43.105,14.269,116.65,35.266,159.686,47.553,204.6,59.715,250.135,71.414c56.928,14.626,115.01,28.567,172.633,41.438,146.674,32.761,291.291,58.865,429.834,77.585,40.035,5.41,80.1,10.268,119.084,14.437,41.014,4.387,81.953,8.132,121.68,11.131,41.658,3.145,83.125,5.555,123.248,7.164,41.951,1.682,83.6,2.535,123.789,2.535,51.635,0,102.453-1.406,151.045-4.178,25.178-1.436,50.291-3.27,74.645-5.451,24.914-2.232,49.727-4.889,73.75-7.9,24.568-3.077,49-6.609,72.619-10.5,24.139-3.973,48.113-8.43,71.258-13.247,23.633-4.919,47.07-10.353,69.662-16.151,23.053-5.916,45.875-12.379,67.834-19.209l1.285-.4V331.8Z' fill='url(%23a)'/%3E%3C/svg%3E");
}
