$color-blue: #0052a0;
$color-orange: #fcaf17;
$color-white: #fafafa;

$color-darkblue: #003878;
$color-lightblue: #7ECCFF;
$color-darkorange: #c88500;

$color-grey: #666666;
$color-darkgrey: #313131;

$font-body:'Noto Sans', sans-serif;
$font-heading: 'Montserrat', sans-serif;