$color-blue: #0052a0;
$color-orange: #fcaf17;
$color-white: #fafafa;

$color-darkblue: #003878;
$color-lightblue: #7eccff;
$color-darkorange: #c88500;

$color-grey: #666666;
$color-darkgrey: #313131;

$font-body: "Noto Sans", sans-serif;
$font-heading: "Montserrat", sans-serif;

$primary: #0052a0;
$secondary: #fcaf17;

$enable-responsive-font-sizes: true;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;
