@import "bootstrap/scss/_functions.scss";

@import "./_override.scss";

@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

// Layout & components
@import "bootstrap/scss/_root.scss";
@import "bootstrap/scss/_reboot.scss";
@import "bootstrap/scss/_type.scss";
@import "bootstrap/scss/_images.scss";
@import "bootstrap/scss/_code.scss";
@import "bootstrap/scss/_grid.scss";
@import "bootstrap/scss/_tables.scss";
@import "bootstrap/scss/_forms.scss";
@import "bootstrap/scss/_buttons.scss";
@import "bootstrap/scss/_transitions.scss";
@import "bootstrap/scss/_dropdown.scss";
// @import "bootstrap/scss/_button-group.scss";
// @import "bootstrap/scss/_input-group.scss";
// @import "bootstrap/scss/_custom-forms.scss";
@import "bootstrap/scss/_nav.scss";
@import "bootstrap/scss/_navbar.scss";
@import "bootstrap/scss/_card.scss";
// @import "bootstrap/scss/_breadcrumb.scss";
@import "bootstrap/scss/_pagination.scss";
@import "bootstrap/scss/_badge.scss";
// @import "bootstrap/scss/_jumbotron.scss";
// @import "bootstrap/scss/_alert.scss";
// @import "bootstrap/scss/_progress.scss";
// @import "bootstrap/scss/_media.scss";
// @import "bootstrap/scss/_list-group.scss";
@import "bootstrap/scss/_close.scss";
// @import "bootstrap/scss/_toasts.scss";
@import "bootstrap/scss/_modal.scss";
// @import "bootstrap/scss/_tooltip.scss";
// @import "bootstrap/scss/_popover.scss";
// @import "bootstrap/scss/_carousel.scss";
// @import "bootstrap/scss/_spinners.scss";
@import "bootstrap/scss/_utilities.scss";
// @import "bootstrap/scss/_print.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

// @use "tiny-slider/src/tiny-slider";
@import "./icon";
@import "./button";
@import "./site-header";
@import "./custom.scss";

html {
	scroll-behavior: smooth;
	scroll-padding-top: 3rem;
}
img {
	max-width: 100%;
	height: auto;
}
.bg-darkblue {
	background-color: $color-darkblue;
}
.color__invert,
.text-light--invert {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	label,
	p {
		color: $white;
	}
	a {
		color: $secondary;
		transition: color 0.3s ease;
		&:hover,
		&:active {
			color: rgba($secondary, 0.8);
		}
	}
}

// wordpress
a.more-link {
	color: $white;
	text-decoration: underline;
	&:hover,
	&:active {
		color: $secondary;
	}
}

// from customize
.entry-title {
	max-width: 1200px;
	margin: auto;
}

/* our-team forced remove image */
.eael-team-image__noimg .eael-team-image {
	display: none;
}

/* elementor-posts-max-width */
.elementor-default.single-post .addtoany_share_save_container,
.elementor-default.single-post .entry-header {
	max-width: 1140px;
	margin: 0 auto;
}
